.btn {
  .border-button;
  .border-radius(0);
  .font-roman;
  .transition(.2s);
  color: inherit;
  display: inline-block;
  font-size: 12px;
  height: 36px;
  letter-spacing: 1.4px;
  line-height: 36px;
  padding: 0 14px;
  text-transform: uppercase;

  &-action {  
    &:hover {
      background: @body-color;
      color: @white;
    }
  }

  &-black {
    background: @black;
    color: @white;
  }

  &-full {
    background: @body-color;
    color: @white;

    &:hover, &:focus {
      background: @white;
      color: @body-color;
    }
  }

  &-red {
    height: 45px;
    line-height: 48px;
    margin-top: 20px;
    .no-border;
    background: @purchase-orange;
    color: @white;

    &:hover, &:focus {
      background: darken(@purchase-orange, 10%);
      color: @white;
    }
  }
}
