@bg-input-dark   : #EDEDED;
@bg-yellow-light : #FFFEE6;
@black           : #261B1B;
@body-color      : #4D3636;
@border          : #E8EBE8;
@dark-border     : rgba(77, 54, 54, .3);
@hover-yellow    : #FFFDD1;
@icon-hover      : #FFFCBF;
@light-bg        : #F7F7F7;
@light-bg-active : #EDEAEA;
@light-border    : rgba(77, 54, 54, .1);
@menu-item       : #E6E6E6;
@page-background : #F2F2F2;
@purchase-orange : #FF3600;
@skin            : #FFF9F7;
@text-green      : #0D380B;
@transparent     : rgba(0, 0, 0, 0);
@white           : #ffffff;