.placeholder {
  .text-roman;
  color: @body-color;
  line-height: 24px;
  opacity: 1;
  text-transform: uppercase;
}

.form-input {
  .text-roman;
  background: @transparent;
  border: 1px solid lighten(@body-color, 10%);
  height: 36px;
  line-height: 36px;
  min-width: 260px;
  padding: 0 16px;
  letter-spacing: 0;
  font-size: 14px;

  &::-webkit-input-placeholder {
    .placeholder;
  }

  &::-moz-placeholder {
    .placeholder;
  }

  &:-ms-input-placeholder {
    .placeholder;
  }
  
  &:-moz-placeholder {
    .placeholder;
  }
}
