*:focus {
  outline: none;
}

body {
  background: @page-background;
  color: @body-color;
  font-family: 'AvenirLTStd-Roman';
}

a:focus {
  color: inherit;
  text-decoration: none !important;
}

li {
  list-style: none;
}

.container {
  width: 1270px;

  @media(max-width: @breakpointDesktop) {
    width: @breakpointTablet;
  }

  @media(max-width: @breakpointTablet) {
    width: 768px;
  }

  @media(max-width: @breakpointMobile) {
    width: 100%;
  }
}

.container__inner {
  background: @white;
  padding: 0 10px;

  &.pt-10 {
    padding-top: 10px;
  }

  &.pb-10 {
    padding-bottom: 10px;
  }
}

.row {
  &.narrow {
    margin-left: -10px;
    margin-right: -10px;

    [class*="col-"] {
      padding: 10px;
    }
  }
}

.full {
  width: 100%;
}

.max-full {
  max-width: 100%;
}

.section-divider {
  height: 20px;
}

.margin-0 {
  margin: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.link {
  color: inherit;
  font-family: 'AvenirLTStd-Roman';
  font-size: 12px;
  letter-spacing: 1.4px;
  line-height: 16px;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.block {
  display: block;
}

.no-underline {
  text-decoration: none !important;
}

.bg-white {
  background: @white;
}

.bg-silver {
  background: @page-background;
}

.bg-yellow-light {
  background: @bg-yellow-light;
}

.slide-enter {
  opacity: 0;
  transform: translateY(10px);
}

.slide-enter-active {
  transition: .5s;
}

.slide-leave {
  opacity: 1;
  transform: translateY(0);
}

.slide-leave-active {
  transition: .3s;
  opacity: 0;
  transform: translateY(10px);
}

/* User Entry */
.user-entry-forms {
  .mx-auto;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  height: calc(100vh - 100px);
}

.user-login-form,
.user-signup-form {
  width: 45%;
  margin: 0 20px;
  padding: 10px 20px 20px 20px;
  background: @white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;

  .form-input {
    width: 100%;
  }

  .h2 {
    padding-bottom: 20px;
  }

  .btn {
    margin-top: 5px;
  }
}

.error-text {
  color: @purchase-orange;
  padding: 5px 0;
}

.or-text {
  padding: 10px;
  position: relative;

  &:before, &:after {
    content: '';
    height: 100px;
    width: 1px;
    background: @body-color;
    left: 50%;
    margin-left: -1px;
    z-index: 1;
    pointer-events: none;
    position: absolute;
    top: -100px;
  }

  &:after {
    top: auto;
    bottom: -100px;
  }
}

/* Product Show */
.variants-list {
  padding: 5px 25px 25px 25px;
  .variants {
    .relative;
    cursor: pointer;
    .border;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 10px;
    img {
      height: 50px;
      vertical-align: top;
      margin-top: 5px; 
    }
  }
}

.product-image {
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 290px;
}

.product__details {
  .error-text {
    .mx-auto;
    width: 225px;
    padding: 15px 0 0 0;
  }
}

.primary-header__user {
  &:hover {
    .user-options {
      visibility: visible;
      opacity: 1;
    }    
  }
}

.user-options {
  .transition(.3s);
  visibility: hidden;
  opacity: 0;
  .padding-0;
  .margin-0;
  width: 100px;
  left: -62px;
  top: 38px;
  z-index: 1;
  text-align: center;

  li {
    + li {
      border-top: 1px solid #fff;
    }
  }

  a {
    cursor: pointer;
    text-align: right;
    display: block;
    padding: 8px 10px;
    background: @body-color;
    color: @white;

    &:hover {
      text-decoration: none;
      background: lighten(@body-color, 10%);
    }
  }
}

.welcome {
  padding: 50px;

  .btn {
    margin-top: 20px;
  }
}

.table {
  a {
    color: @body-color;
    .font-heavy;
  }
}

.page-heading {
  text-align: center;
  margin: 20px 0 10px 0 !important;
}

.primary-header__basket {
  &:hover {
    .mini-cart {
      visibility: visible;
      opacity: 1;
    }
  }
}

.mini-cart {
  .transition(.2s);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 300px;
  max-height: 300px;
  left: -262px;
  top: 38px;
  background: @white;
  z-index: 2;
  box-shadow: 0 0 5px #ccc;
  border-radius: 5px;

  .sub-total {
    font-size: 16px;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
  }

  .btn-action {
    display: block;
    height: 40px;
    line-height: 40px;
    background: @body-color;
    color: @white;

    &:hover {
      background: lighten(@body-color, 10%);
    }
  }

  .mini-cart-item-list {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 90px);
  }
}

.minicart-item {
  padding: 10px;

  .minicart-img {
    width: 60px;
    text-align: center;
    margin-right: 10px;
  }

  .variant-link {
    cursor: pointer;
  }

  .minicart-details {
    width: calc(100% - 70px);
  }

  img {
    width: 40px;
  }

  .h2 {
    padding: 0;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0;
  }
}

.empty-cart-message {
  margin: 0;
  text-align: center;
  padding: 10px;
}